.navbar {
  background: #28242b;
}
#placeholder {
  width: 600px;
}
.alert-bg-color {
  background-color: #28242b;
}
#alert-text {
  color: white;
  margin: 0px;
  text-align: center;
}
.row {
  display: flex;
  align-content: space-around;
}
#footer-text {
  color: white;
  padding: 50px;
  display: flex;
  justify-content: center;
  background-color: #28242c;
}