#cart-button {
    border: 1px solid black;
    text-align: end;
}
.alerto {
    padding: 100px;
    text-align: center;
    background-color: #28242b;
    margin-bottom: 20px;
}
.alerto h1 {
    font-size: 4rem;
    font-weight: bold;
    color: white;
}
h6 {
    color: grey;    
}
.card-body {
    text-align: center;
}
.card-title {
    font-weight: bold;
}

#strikethrough {
    text-decoration: line-through;
}
.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
#footer-text {
    color: white;
    padding: 50px;
    display: flex;
    justify-content: center;
    background-color: #28242c;
}